################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs
/Include
/MigrationBackup/5940fb51/VRChatify
/packages
/app.config
